<a href="https://colab.research.google.com/github/tamiresls/trabalho_final_pandas/blob/main/trabalho_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

# Carregar a base de dados
df = pd.read_csv("tabela_fipe.csv")

In [24]:
def exibir_informacoes(df):
    print("Quantidade de registros:", len(df))
    print("Quantidade de colunas:", len(df.columns))
    print("Nome e tipo de cada coluna:")
    for column in df.columns:
        print(f"{column}: {df[column].dtype}")

    colunas_numericas = df.select_dtypes(include=['int', 'float']).columns
    print("Valores máximos, mínimos e médios de cada coluna numérica:")
    for column in colunas_numericas:
        print(f"{column}:")
        print("Máximo:", df[column].max())
        print("Mínimo:", df[column].min())
        print("Média:", df[column].mean())
        print("-" * 30)

# Chamada da função para exibir informações descritivas
exibir_informacoes(df)

Quantidade de registros: 466020
Quantidade de colunas: 8
Nome e tipo de cada coluna:
Unnamed: 0: int64
codigoFipe: object
marca: object
modelo: object
anoModelo: int64
mesReferencia: int64
anoReferencia: int64
valor: float64
Valores máximos, mínimos e médios de cada coluna numérica:
Unnamed: 0:
Máximo: 544151
Mínimo: 0
Média: 272398.09463327756
------------------------------
anoModelo:
Máximo: 2023
Mínimo: 1985
Média: 2008.9683253937599
------------------------------
mesReferencia:
Máximo: 12
Mínimo: 1
Média: 6.453540620574224
------------------------------
anoReferencia:
Máximo: 2022
Mínimo: 2001
Média: 2015.1811810651902
------------------------------
valor:
Máximo: 8407082.0
Mínimo: 1871.0
Média: 115745.5994742715
------------------------------

In [17]:
def filtrar_registros(df, coluna_filtro, comparacao, valor):
    df_filtrado = df[df[coluna_filtro].apply(lambda x: eval(f"x {comparacao} {valor}"))]
    return df_filtrado

  # Exemplo de uso
df_filtrado = filtrar_registros(df, 'valor', '>', 300000)
print(df_filtrado)

        Unnamed: 0 codigoFipe            marca  \
7361         11711   085010-1     ASTON MARTIN
7362         11712   085011-0     ASTON MARTIN
7363         11713   085010-1     ASTON MARTIN
7364         11714   085002-0     ASTON MARTIN
7365         11715   085007-1     ASTON MARTIN
...            ...        ...              ...
463671      541704   005424-0  VW - VolksWagen
463990      542041   005266-3  VW - VolksWagen
464243      542307   005424-0  VW - VolksWagen
464338      542408   005424-0  VW - VolksWagen
465259      543376   005424-0  VW - VolksWagen

                                          modelo  anoModelo  mesReferencia  \
7361                      Vanquish V12 6.0 565cv       2016              2
7362                     DB9 Coupe 6.0 V12 510cv       2016              2
7363                      Vanquish V12 6.0 565cv       2022              5
7364                  Vantage Coupe 4.7 V8 425cv       2022              9
7365                        Rapide 6.0 V12 477cv       2012              8
...                                          ...        ...            ...
463671  TOUAREG R-Line 4.2 V8 360cv Tiptronic 5p       2018             10
463990     TOUAREG 3.6 24V V6 280cv Tiptronic 5p       2022              7
464243  TOUAREG R-Line 4.2 V8 360cv Tiptronic 5p       2022             10
464338  TOUAREG R-Line 4.2 V8 360cv Tiptronic 5p       2017              8
465259  TOUAREG R-Line 4.2 V8 360cv Tiptronic 5p       2022              2

        anoReferencia      valor
7361             2022  1807163.0
7362             2021  1214019.0
7363             2015  1850000.0
7364             2015   805650.0
7365             2017   819187.0
...               ...        ...
463671           2021   304304.0
463990           2017   330242.0
464243           2018   399821.0
464338           2020   313597.0
465259           2018   392344.0

[36802 rows x 8 columns]

In [23]:
def agrupar_e_aplicar_funcao(df, coluna_agrupamento, coluna_agregacao, funcao):
    funcoes_agregacao = {'max': 'max', 'min': 'min', 'media': 'mean', 'desvio_padrao': 'std'}
    df_agrupado = df.groupby(coluna_agrupamento)[coluna_agregacao].agg(funcoes_agregacao[funcao])
    return df_agrupado

# Exemplo de uso
estatisticas_agrupadas = agrupar_e_aplicar_funcao(df, 'marca', 'valor', 'media')
print(estatisticas_agrupadas)

marca
ASTON MARTIN       933659.502538
Acura               30653.199105
Agrale             107277.968750
Alfa Romeo          36435.071638
Asia Motors          7114.450769
                       ...
VW - VolksWagen     39789.239795
Volvo               95209.176399
Wake                49792.889241
Walk                37806.979592
smart               61349.761905
Name: valor, Length: 84, dtype: float64